<!DOCTYPE html>
<html ng-app="budpage">
<head lang="en">
  <title>Bud</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "angularjs-toaster/toaster", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "main/body", :media => "all" %>
  <%= stylesheet_link_tag "frame/header", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body class="bud">
<div ui-view="header"></div>
<toaster-container></toaster-container>
<div ui-view="body"></div>
<div ui-view="footer"></div>
</body>
</html>